.grid img {
    border: 2px solid black;
    border-radius: 50px;
    grid: 0px;
}
.origame {

    border-radius: 20px;
    background-color: white;

    width:310px;
    font-family: fantasy;
    padding: 0px;
    margin: 0px;
    background-color: rgb(27, 145, 248);
}

.padding {
    white-space: normal;
}
